@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, welcome to the FleetComponentTracker built using .NET9 + Blazor.</h1>

To upload data via CSV go to the Upload File page.
To view data or add components go to the Fleet Data page.
